@{
    ViewBag.Title = "Home Page";
}

<div class="container body-content">
        <h1>Sistema de Recursos Humanos - Saint Spirit School</h1>
        <p class="lead">Este es un sistema de gestion de planilla y solicitudes, para empleados y asociados a la Escuela Saint Spirit.</p>
        <p><a href="https://saintspirit-school.com/" class="btn btn-info btn-lg">Saint Spirit School</a></p>
    </div>

<div class="row">
    <div class="jumbotron col-lg-8">

        <p>
            <h2>Bienvenidos al Sistema de R.R.H.H.</h2>
            Evite  riesgos y problemas en su empresa.
            <hr />
            Quédese con la tranquilidad y seguridad de saber que todos sus procesos
            de planilla están siendo bien llevados y en un solo lugar. Usando la tecnología
            para brindarle la mejor experiencia y satisfacción mientras realiza sus operaciones de R.R.H.H.

        </p>

    </div>

    <div class="jumbotron col-lg-4">
        <p>

            <img src="~/Content/saintspirit.png" width="250" height="225" />

        </p>

    </div>
    @*<div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>*@
    @*<div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>



    </script>
}